@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#f9f9f9);
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    align-items:normal;
    justify-content: center;
}
.text-background {
    background-image: url('Images/near_footer.jpg'); 
    background-size:cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px;
    font-size: 20px;
    background: image opacity 50%;
}
.card-list .card-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-list .card-item .card-link{
    user-select: none;
    display:block;
    background:rgb(231, 219, 227);
    width: 100%;
    padding:0;
    margin: 0;
    border-radius: 18px;
    text-decoration:none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}
.card-list .card-item .card-link:hover{
    border-color: #8ee793;
}
.card-list .card-link .card-image{
    width: 90%;
    height: 300px;
    object-fit:cover;
    border-radius: 10px;
    padding: 12px;
    border-radius: 20px;
}
.card-list .card-link .badge{
    color: black;
    padding: 8px 6px;
    margin: 16px 0 18px;
    font-size: 0.95rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 50px;
}
.card-list .card-link .badge.bali{
color: #8ee793;
background: #445c50;
}
.card-list .card-link .badge.Nepal{
    color: #8ee793;
    background: #445c50;
    }
.card-list .card-link .badge.Morocco{
        color: #8ee793;
        background: #445c50;
        }
.card-list .card-link .badge.Maya_bay{
            color: #8ee793;
            background: #445c50;
            }
.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
    width:auto;
}
.card-list .card-link .card-button{
    height: 35px;
    width:35px;
    color:#445c50;
    border-radius: 50%;
    margin:0px 0 5px;
    background: none;
    cursor:pointer;
    border: 2px solid #3d5e48;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}
.card-list .card-link:hover .card-button{
    color:white;
    background: #465e50;
}

.swiper {
    width: 100%;
    max-width: 1800px;
    padding-top: 20px;
    margin: 0 auto;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.swiper-slide {
    width: auto; 
    flex-shrink: 0; 
    text-align: center;
}


